@layer base, starlight, theme, components, utilities;
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/space-grotesk/400.css";
@import "@fontsource/space-grotesk/500.css";
@import "@fontsource/space-grotesk/600.css";
@import "@fontsource/space-grotesk/700.css";

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@plugin "../tailwind-plugin/tw-theme";
@plugin "../tailwind-plugin/tw-bs-grid";

:root {
  --sl-color-accent-low: color-mix(in srgb, var(--color-primary) 20%, transparent);
  --sl-color-accent: var(--color-primary);
  --sl-color-accent-high: color-mix(in srgb, var(--color-primary) 80%, white);

  --sl-font-body: 'Inter', system-ui, sans-serif;
  --sl-font-heading: 'Space Grotesk', system-ui, sans-serif;

  --sl-color-white: var(--color-light);
  --sl-color-gray-1: #f4f4f5; /* Zinc 100 */
  --sl-color-gray-2: #d4d4d8; /* Zinc 300 */
  --sl-color-gray-3: #71717a; /* Zinc 500 */
  --sl-color-gray-4: #3f3f46; /* Zinc 700 */
  --sl-color-gray-5: #27272a; /* Zinc 800 */
  --sl-color-gray-6: #18181b; /* Zinc 900 */

  --sl-color-black: var(--color-dark);
  --sl-sidebar-width: 280px;
  --sl-color-hairline: rgba(255, 255, 255, 0.1);
  --sl-color-hairline-light: rgba(255, 255, 255, 0.05);

  --header-height: 4rem;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: color-mix(in srgb, var(--color-lightmode-primary) 20%, transparent);
  --sl-color-accent: var(--color-lightmode-primary);
  --sl-color-accent-high: color-mix(in srgb, var(--color-lightmode-primary) 80%, black);

  --sl-color-white: var(--color-lightmode-light);
  --sl-color-gray-1: #18181b; /* Zinc 900 */
  --sl-color-gray-2: #3f3f46; /* Zinc 700 */
  --sl-color-gray-3: #71717a; /* Zinc 500 */
  --sl-color-gray-4: #a1a1aa; /* Zinc 400 */
  --sl-color-gray-5: #d4d4d8; /* Zinc 300 */
  --sl-color-gray-6: #f4f4f5; /* Zinc 100 */
  --sl-color-gray-7: #fafafa; /* Zinc 50 */

  --sl-color-black: var(--color-lightmode-dark);
}

@theme {
  --color-primary-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    transparent 100%
  ), var(--color-primary);
}

@import "./base.css";
@import "./navigation.css";
@import "./components.css";
@import "./button.css";

